@{
	/*
	* Copyright 2017-2018, Optimizely
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	* http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
	*/
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		@Html.ActionLink("Optimizely .NET SDK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="active nav-item">
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Demo", "Index", "Demo/Config", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
		</div>
	</nav>
	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
